*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: inherit;
    /* list-style: none; */
}

.courcesPanel{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.courceCard{
    background-color: bisque;
    border-radius: 0.5rem;
    width: 14rem;
    padding: 0.5rem;
}
.courceCard>*{
    margin-bottom: 1rem;
}

.courceCard>h2{
    text-align: center;
    font-size: 1.5rem;
    height: 4rem;
}

.courceCard>span{
    display: block;
}

.courceCard>span>p{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.courceCard>ul{
    margin-left: 2rem;
}

.courceCard>ul>li{
    margin-bottom: 0.2rem;
}